# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files on macOS
Icon?

# macOS thumbnail cache files
._*

# AFP share metadata
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk